* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.root {
  display: flex;
  justify-content: center;
  max-width: 450px;
  width: 100%;
  height: 100%;

  overflow: hidden;

  position: relative;

  background: #222;
}

.stories {
  display: flex;
  max-width: inherit;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.stories__story {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  max-width: inherit;
  width: 100%;
  height: 100%;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  will-change: transform;
}

.stories__story.swiping {
  transition: none;
}

.stories__video {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.controls {
  display: flex;

  position: absolute;
  right: 0;
  bottom: 0;
}

.controls__buttons {
  display: flex;
  margin: 8px;
  gap: 8px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 6px 12px;

  cursor: pointer;
  border: none;
  text-align: center;
  color: white;
  background-color: #ffba00;
  box-shadow: 0 0 8px 2px rgb(34 34 34 / 20%);
  border-radius: 5px;

  transition-property: filter;
  transition-duration: 250ms;
}

.button:hover:not(.button_disabled) {
  filter: brightness(115%);
}

.button_disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.button:first-child {
  margin-left: 0;
}

.button svg {
  width: 35px;
  height: 35px;

  fill: white;
}

.button_next svg {
  transform: rotate(180deg);
}

.progress {
  position: absolute;

  width: 100%;
  padding: 8px;
  box-sizing: border-box;

  display: flex;
  justify-content: center;

  margin-right: -6px;

  z-index: 1;
}

.progress__bar {
  flex-grow: 1;

  height: 8px;
  margin-right: 6px;

  border-radius: 5px;
  overflow: hidden;

  background: #cccccc;
  cursor: pointer;
  transition: opacity 0.2s;
}

.progress__bar:hover {
  opacity: 0.8;
}

.progress__bar-value {
  display: block;
  height: 100%;
  width: 100%;

  transform: scaleX(0);
  transform-origin: left;

  background: #ffba00;
}

.stop-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 5;
}

.stop-screen__button {
  position: absolute;
  fill: #cfcfcf;

  width: 150px;
  height: 150px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  cursor: pointer;
}

.stop-screen__plate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: rgba(0, 0, 0, 0.6);
}

.stop-screen_playing {
  display: none;
  pointer-events: none;
}

.reactions {
  gap: 8px;
  display: flex;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 3;
}

.reaction {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s;

  font-size: 24px;
  width: 35px;
}

.reaction:hover {
  transform: scale(1.2);
}

.flying-reaction {
  position: absolute;
  bottom: 100px;

  font-size: 30px;
  animation: fly-up 500ms cubic-bezier(0.68, 0.01, 1, 1);

  opacity: 0;
}

@keyframes fly-up {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  10% {
    transform: translateY(-50px);
    opacity: 1;
  }

  100% {
    transform: translateY(-500px);
    opacity: 0;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);

  z-index: 2;
}

.show-reactions-btn {
  position: absolute;
  bottom: 0;
  left: 0;

  font-size: 24px;
  margin: 8px;
  padding: 20px 24px;

  color: white;
  background-color: #000000;
  opacity: 0.8;
  box-shadow: 0 0 8px 2px rgb(34 34 34 / 20%);
  cursor: pointer;
  border-radius: 40%;
  border: none;

  transition-duration: 500ms;
  transition-property: transform;

  z-index: 2;
}

.show-reactions-btn:hover {
  transform: scale(1.1);
}
